{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'hello/styles.css' %}">
</head>
<body >
    <nav>
      <div>
        <div>
          <div>
            <div class="flex">
              <img class="h-8" src="{% static 'hello/images/shop.png' %}" alt="logo">
              <span class="text-xl">SHOP</span>
            </div>
          </div>
        </div>
      </div>
    </nav>
    
    <h2>
        {% for item in items  %}
        <a href="{% url 'detail' item.id %}">
        Id: {{item.id}} |Price: {{item.price}} |Desc: {{item.descripsion}} <br/>

        </a>
        {% endfor %}
    </h2>
</body>
</html>